certifi
charset-normalizer
click
contourpy
cycler
Flask
fonttools
gunicorn
idna
imageio
itsdangerous
Jinja2
kiwisolver
llvmlite
MarkupSafe
matplotlib
networkx
numba
numpy
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
requests
scikit-image
scipy
six
tifffile
torch
torchvision
typing_extensions
urllib3
Werkzeug
